@font-face {
    font-family: 'Modak';
    src: url('./fonts/Modak-Regular.ttf');
    font-weight: 400;
}

@font-face{
    font-family: 'Comfortaa';
    src: url('./fonts/Comfortaa-Bold.ttf');
    font-weight: 700;
}

:root{
    --color-main: #BE8147;
    --color-main-light: #DFBE76;
    --color-main-dark: #935A24;
    --size-title: clamp(24px, 2.5vw, 36px);
    --size-text: clamp(14px, 1.5vw, 24px);
    --size-text-big: clamp(18px, 2vw, 32px);
    --size-text-small: clamp(12px, 1.5vw, 16px);

    --border-radius: 15px;

}
*{
    font-family: 'Comfortaa';
}
body{
    margin: 0;
    padding: 0;
    background-color: var(--color-main-light);
}
a:any-link{
    text-decoration: none;
}
.wrapper {
    min-height: 100dvh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container-block{
    margin: 0 auto;
    width: clamp( 360px, 95vw, 1440px);
}


/** TEXT DESIGN */
.title{
    font-size: var(--size-title);
    margin-bottom: clamp( 20px, 2.5vw, 40px);
    color: var(--color-main-dark);
}


/** BUTTONS */
.button-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: clamp( 40px, 5vw, 70px);
    height: clamp( 40px, 5vw, 70px);
    border-radius: var(--border-radius);

    img{
        width: 50%;
    }
}

.button-icon.edit{
    background-color: var(--color-main);
}

.button-icon.delete{
    background-color: #C8500C;
}

.button-icon.info{
    background-color: var(--color-main-dark);
}
.button-view{
    font-size: var(--size-text);
    padding: clamp( 5px, 1vw, 15px) clamp( 20px, 2.5vw, 40px);
    border-radius: var(--border-radius);
    border: none;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease;
}

.button-main{
    background-color: var(--color-main);
    color: var(--color-main-light);
}

.button-main:hover, .button-main:active, .button-main:focus, .button-main:focus-visible{
    background-color: var(--color-main-dark);
}

.button-main-dark{
    background-color: var(--color-main-dark);
    color: var(--color-main-light);
}

.button-main-dark:hover, .button-main-dark:active, .button-main-dark:focus, .button-main-dark:focus-visible{
    background-color: var(--color-main);
}
/** HEADER */
#header{
    background-color: var(--color-main);
    box-shadow: 0 0 10px var(--color-main-dark);
    z-index: 10;
    border-radius: 0 0 calc(var(--border-radius) * 2) calc(var(--border-radius) * 2) ;
}
.navbar-brand{
    font-family: 'Modak';
    font-size: var(--size-title);
    color: var(--color-main-light);
    text-transform: uppercase;
}

.navbar-brand:hover{
    color: var(--color-main-light);
}
.navbar-nav{

    align-items: center;
    gap: clamp( 10px, 4vw, 75px);
}
.navbar-nav .nav-link{
    font-size: clamp(14px, 1.5vw, 20px);
    color: var(--color-main-dark);
    text-underline-offset: 3px;

}
.navbar-nav .nav-link.active{
    color: var(--color-main-dark);
    text-decoration: underline;
}

.navbar-nav .nav-link:hover{
    text-decoration: underline;
}
.navbar-auth{
    gap: clamp( 10px, 3vw, 40px)
}

.navbar-auth .nav-link{
    color: var(--color-main-light);
}

/** FOOTER */
#footer{
    background-color: var(--color-main);
    box-shadow: 0 0 10px var(--color-main-dark);
    padding: clamp( 35px, 4vw,70px) 0 clamp( 20px, 2.5vw,35px) ; 
    z-index: 10;
    border-radius: calc(var(--border-radius) * 2) calc(var(--border-radius) * 2) 0 0;
}

.container-footer{
    margin: 0 auto;
    display: flex;
}

.footer-items{
    display: flex;
    flex-direction: column;
    gap: clamp( 10px, 3vw, 40px)
}
.footer-link{
    color: var(--color-main-dark);
    font-size: var(--size-text);
    text-decoration: none;
}
.footer-link:hover{
    text-decoration: underline;
    text-underline-offset: 3px;
}
.copyright{
    color: var(--color-main-light);
    font-size: var(--size-text-small);
    text-align: center;
    margin-top: 20px;
}
